.left-sidebar-container {
  width: fit-content;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 12px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 20px 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  z-index: 15;
}

.logo,
.user-image {
  display: flex;
  justify-content: center;
}

.user-image {
  position: absolute;
  bottom: 25px;
  left: 25px;
}

.get-jobs-icons {
  text-align: center;
  align-items: center;
  font-size: 11px;
  letter-spacing: 0.75px;
  padding: 0 5px;
  color: gray;
}

.left-side-heading {
  text-align: center;
}
.border-span {
  background-color: #f6f6f6;
  height: 2px;
  margin: 24px 0;
}

.icon-svg {
  max-width: 25px;
  padding-bottom: 15px;
  align-items: center;
}
